<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,cssPath,jsPath)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <!--为确保所有设备都能正确渲染和触摸缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--基础css-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugins/bootstrap-4.4.1/css/bootstrap.min.css}"/>
    <!--基础js-->
    <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/jquery-3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/popper/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-4.4.1/js/bootstrap.min.js}"></script>
    <!--循环引入调用页面js-->
    <script type="text/javascript" th:each="jsPath,status:${#strings.setSplit(jsPath,',')}"
            th:src="@{${jsPath}}"></script>
    <!--循环引入调用页面css-->
    <link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPath,',')}"
          th:href="@{${cssPath}}"/>
</head>
</html>