<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
这里是home
<div align="center" style="margin-top: 15px" sec:authorize="!isAuthenticated()">
    <h4 style="color: blue;">欢迎您，亲爱的召唤师!<a th:href="@{/login}"> 请登录</a></h4>
</div>
<div align="center" style="margin-top: 15px" sec:authorize="isAuthenticated()">
    <h4 style="color: blue;">召唤师 <span sec:authentication="principal.username"></span>
        ! 您的段位为：<span sec:authentication="principal.authorities[0].name"></span>
    </h4>
    <form th:action="@{/logout.json}" method="post">
        <input type="submit" th:value="注销登录">
    </form>
</div>
</body>
<script th:inline="javascript">
    // alert([[${#authentication.authorities[0].name}]])
</script>
</html>